.heading-72 {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 8rem;
}

.heading-56 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 6.4rem;
}

.heading-40 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
}

.heading-24 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.heading-20 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.heading-18 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.heading-16 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.heading-14 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}

